
.icon-machine {
  background-image: url(../images/ionicon/coffee.png);
}

.icon-extincteur {
  background-image: url(../images/ionicon/extincteur.png);
}

.icon-distributeur {
  background-image: url(../images/ionicon/pizza.png);
}

.icon-défibrilateur {
  background-image: url(../images/ionicon/ios7-pulse-strong.png);
}

.icon-personne {
 background-image: url(../images/ionicon/android-contact.png);
}

.icon-moi {
 background-image: url(../images/ionicon/android-locate.png);
}

.icon-ascenseur {
  background-image: url(../images/ionicon/ascenseur.png);
}

.clicked {
	background-color:#c4ebb0!important;
}
/*
#form {
	display:none;
	position:fixed;
	top:0px;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
	padding-top:200px;
}
#form div:first-child {
	padding:20px;
	display:table;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
}

#form #image_preview {
	border:2px black solid;
}*/
