﻿html, body {margin:0px;} 
#map { 
	height: 600px; 	
}

.icons {
  margin-bottom: -3px;
  margin-right: 4px;
  background-size:100% 100%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  padding: 0;
  display : inline-block;
}

.icons-text {
margin-top: -15px;
margin-right: 4px;
}

#menubar {width:100%;position:fixed;z-index:10;}

#menubar #toolbar {display:table;border-spacing:3px;margin-right:auto;margin-left:auto;transition:margin-top 1s;}
#menubar #toolbar > div {display:table-cell;background-color:#e8e8e8;transition:background-color .5s;border-radius:10000px;border:black 2px solid;text-align: center;vertical-align: middle;}
#menubar #toolbar > div:hover {background-color:#cccccc;border-color:rgb(30,30,30);}
#menubar #toolbar > div img {position:relative;width:0px;}

#menubar #hide {display:table;margin-top:2px;margin-right:auto;margin-left:auto;background-color:#c4ebb0;transition:background-color .5s;border-radius:10px;border:black 2px solid;}
#menubar #hide:hover {background-color:#b2d69e;border-color:rgb(30,30,30);}
#menubar #hide img {position:relative;width:0px;transition:transform .5s;}

#infoBat {
	display:none;
	position:fixed;
	text-align:center;
	top:10px;
	left:10px;
	width:180px;
	min-height:60px;
	background-color:rgba(255,255,255,0.7);
	border:1px #DDDDDD solid;
	border-radius:10px;
	padding:10px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}