#search {
	margin-top:10px;
	display:block;
	position:fixed;
	top:0px;
	width:50%;
	max-width:30px;
	transition: max-width 1s;
}

#search:hover {
	max-width:275px;
}

#search:hover #results {
	display:block;
}

#results {
	display:none;
}

* {

}
#search .bcontainer input:hover {
	background-color: rgba(196,235,176,0.7);
}

#search .bcontainer {
	display:block;
	padding-left:15px;
}

#search .bcontainer input {
	padding-left: 36px;
	background-color:rgba(255,255,255,0.7);
	border:1px #DDDDDD solid;
	border-radius:5px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	outline:none;
	height:40px;
	font-size:20px;
	transition:background-color 1s;
	background-image:url('../images/ionicon/ios7-search-strong.png');
	background-repeat:no-repeat;
	background-size: auto 100%;
	background-position:left;
	max-width:275px;
}

#search .bcontainer > * {
	width:100%;
	max-width:275px;
}

#search .resultat {
	background-color:rgba(255,255,255,0.9);
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	opacity:0;
	transition:opacity 0.5;
}

#search .table {
	margin-bottom:0;
}

#search .resultat .tagname {
	font-size: medium;
	padding-left: 10px;
	max-width:275px;
	font-style: italic;
}
#search .resultat table {
	width:100%;
}

#search .resultat table td {
	max-width:10px;
	vertical-align:middle;
}

#search .resultat img {
	float:right;
	width:20px;
	height:20px;
}

.brace {
	font-style: normal;
    font-weight: bold;
	color:#ACB2D3;
	z-index:0;
}