#menuBracetag {
	display:block;
	position:fixed;
	text-align:center;
	min-height:50px;
	background-color:rgba(255,255,255,0.7);
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

.menu {
	height:100%;
	margin-bottom:0;
}

.menu-text, .menu-icon {
	vertical-align:middle;

}

#infoSalle {
	opacity: 0;
	display:block;
	position:fixed;
	top:10px;
	left:10px;
	min-width:200px;
	min-height:50px;
	background-color:rgba(255,255,255,0.7);
	border:1px #DDDDDD solid;
	border-radius:10px;
	padding:10px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
	transition: opacity 0.5s;
}

.modal-ajout-bracetag {
	max-width:430px;
}
.btn-return {
	background-color:rgba(255,255,255,0.7);
	border:1px #DDDDDD solid;
	border-radius:50px;
	padding: 5px 4px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

.btn-return:hover {
	background-color:rgba(226,226,226,0.7);
}

.yeah-bouh {
	width:50px;
	height:50px;
	vertical-align:middle;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.image-ajouter-bracetag {
	width: 33px;
	height: 33px;
	visibility:hidden;
}

.group-bracetag {
	margin-right:2px;
	margin-left:2px;
}

.brace {
	font-style: normal;
    font-weight: bold;
	color:#ACB2D3;
	z-index:0;
}

.modal-body .table {
	margin-top:-15px !important;
	margin-bottom:-15px !important;
}

.bracelist td{
	font-style: italic;
	vertical-align:middle !important;
	
}

#tabBraceTag >tbody>tr:first-child>td {
border-top:none;
}

.medal {
	width:20px;
	height:20px;
	margin-left:-4px;
	margin-top:12px;
	z-index:20;
	position:fixed;
}

#un {
	display:none;
	position:fixed;
	top:0px;
	font-size: 40px;
	color:red;
	z-index:100000;
	text-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

#backbtn {
	z-index:1;
	position:fixed;
	bottom:20px;
	height:40px;
	padding-left: 15px;
}

#backbtn button {
	display:table;
	height:100%;
}
#backbtn button div {
	display:table-cell;
	height:100%;
	vertical-align:middle;
}

#backbtn button img {
	height:30px;
}

#swipe {
	display:none;
	width:100%;
	position:fixed;
	opacity:0;
	bottom:50px;
	z-index:1;
	text-align: center;
	transition: opacity 1s;
}

#swipe img {
	position:relative;
	width:50%;
	background-color: rgba(255,255,255,0.8);
	border:1px #DDDDDD solid;
	border-radius:10px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}