﻿#view2 {
  z-index:1000;
  top:0px;
  left:100%;
  width:100%;
  height:100%;
  position:fixed;
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
  opacity:0;
  transition:opacity 1s;
}

#view2 .etage {
	min-height:150px;
	background-color:#e8e8e8;
	text-align:center;
	min-width:85%;
	margin-top:20px;
}

#view2 .theblock {
	text-align:center;
  transition:opacity 1s;
  opacity:0;
}

#view2 hr {
border-top:1px solid #fff;
}

#view2 .icons {
  margin-bottom: -3px;
  margin-right: 4px;
  margin-top:5px;
  background-size:100% 100%;
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  padding: 0;
  display : inline-block;
}

#view2 .borderless tbody tr td, #view2 .borderless thead tr th {
    border: none;
}


#view2 .icons-text {
margin-top: -15px;
margin-right: 4px;
}